﻿<style>
    .email-container{
        font-family: Roboto, sans-serif;
    }
    .header-font{
        font-size: 38px;
    }
    .body-font{
        font-size: 17px;
    }
    .passcode-font{
        font-size: 22px;
    }
    .hidden{
        display: none;
    }
</style>
<metadata class="hidden">
    <subject>Email Verification Required</subject>
</metadata>

<div class="email-container">
    <h2 class="header-font">Welcome to {COMPANY_NAME}</h2>
    <p class="body-font">Please use the following code for email verification</p>
    <br/>
    <h2 class="passcode-font">Code: {PASSCODE}</h2>
    <br/>
    <p class="body-font">This Code is valid for {PASSCODE_VALIDITY}. After its expiry, you will need to request a new one using the same procedure.
    <br/>
    <br/>
    Regards,<br/>{COMPANY_NAME} Support Team</p>
</div>