﻿<style>
    .email-container{
        font-family: Roboto, sans-serif;
    }
    .header-font{
        font-size: 38px;
    }
    .body-font{
        font-size: 17px;
    }
    .passcode-font{
        font-size: 22px;
    }
	.hidden{
		display: none;
	}
</style>
<metadata class="hidden">
	<subject>Error Report</subject>
</metadata>
<div class="email-container">
    <h2 class="header-font">Error Report<h2>
    <p class="body-font">Environment: {ENVIRONMENT}
    <br/>
	Message: {MESSAGE}
    <br/>
	Stack Trace: {STACK_TRACE}</p>
</div>