﻿<style>
    .email-container{
        font-family: Roboto, sans-serif;
    }
    .header-font{
        font-size: 38px;
    }
    .body-font{
        font-size: 17px;
    }
    .passcode-font{
        font-size: 22px;
    }
    .hidden{
        display: none;
    }
</style>
<metadata class="hidden">
    <subject>Credentials Recovery Request</subject>
</metadata>

<div class="email-container">
    <h2 class="header-font">Greetings from {COMPANY_NAME}</h2>
    <p class="body-font">We have received a credentials recovery request for account associated with email. You can ignore this email if this request was not initiated by you. Otherwise, please use the following code for your recovery</p>
    <br/>
    <h2 class="passcode-font">Code: {PASSCODE}</h2>
    <br/>
    <p class="body-font">This Code is valid for {PASSCODE_VALIDITY}. After its expiry, you will need to request a new one using the same procedure.
    <br/>
    <br/>
    Regards,<br/>{COMPANY_NAME} Support Team</p>
</div>